* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #131921;
    --secondary-color: #ffd200;
    --slate_color: #222f3e;
    --color: #fff;
    --black: #000;
    --grey: #e5e5e5;
    --text-color: #666666;

}

body {
    font-family: "Inter", sans-serif;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    cursor: pointer;
}

a,
span {
    display: inline-block;
    text-decoration: none;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: 0;
    cursor: pointer;
    background: none;
}

input {
    border: 0;

    &:focus-visible {
        outline: none;
    }
}

section {
    padding: 30px 0;
}

.container {
    max-width: 99%;
}

.sec-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    & h2 {
        font-size: 24px;
        font-weight: 600;
        color: var(--black);
    }

    .fa-solid {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 15px;
        color: var(--color);
        background: var(--black);
        transition: all .5s;

        &:hover {
            color: var(--black);
            background: var(--secondary-color);
        }
    }
    .timer{
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        color: var(--color);
        background: var(--slate_color);
    }
}

/* product-grid css */
.width-50{
    width: 50%;
}
.flex-direction{
    display: flex;
    flex-direction: row;
}
.product-grid {
    width: 100%;
    padding: 10px;
    background: var(--color);
    border: 1px solid var(--grey);

    .product-display {
        padding: 10px;
        overflow: hidden;
        position: relative;

        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .hover-img {
            display: none;
            transition: all .5s;
        }

        .timer {
            display: flex;
            gap: 6px;
            position: absolute;
            top: 7%;
            left: 50%;
            transform: translateX(-50%);

            .time {
                padding: 0 5px;
                font-size: 1.1rem;
                font-weight: 600;
                text-align: center;
                color: var(--black);
                background: var(--grey);

                & span {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        .cutoff {
            position: absolute;
            top: 2%;
            left: 2%;
            z-index: 10;
            padding: 0 3px;
            font-size: 14px;
            font-weight: 400;
            border-radius: 2px;
            display: none;
            color: var(--color);
            background: var(--black);
        }

        .action-btn {
            position: absolute;
            top: 2%;
            right: 2%;
            display: none;
            z-index: 10;

            & button {
                width: 40px;
                height: 40px;
                margin: 3px 0;
                border-radius: 4px;
                color: var(--color);
                background: var(--black);
            }
        }
    }

    .product-details {
        padding: 10px;

        .demo {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
            color: var(--text-color);
        }

        & h3 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
            color: var(--black);
            transition: all s ease-in-out;
        }

        .price {
            display: flex;
            gap: 15px;

            & del {
                font-size: 14px;
                font-weight: 400;
                color: var(--text-color);
            }

            .actual-price {
                font-size: 16px;
                font-weight: 600;
                color: var(--black);
            }
        }
        .attributes{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .colors,.sizes{
                display: flex;
                gap: 10px;
                .color{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                .color1{
                    background: var(--grey);
                }
                .color2{
                    background: var(--black);
                }
                .size{
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

    .cart-btn {
        width: 100%;
        padding: 2px 0;
        border-radius: 5px;
        border: 1px solid var(--black);
        transition: all .4s ease-in-out;

        &:hover {
            border: 1px solid var(--secondary-color);
            background: var(--secondary-color);
        }
    }

    .cart-btn.disabled:hover {
        border: 1px solid var(--black);
        cursor: no-drop;
        background: none;
    }

    &:hover {
        .product-img {
            display: none;
        }

        .hover-img {
            display: block;
        }

        .cutoff,
        .action-btn {
            display: block;
        }

        .product-details h3 {
            color: var(--secondary-color);
        }
    }
}

/* product-grid css */
/* common css ended */
/* infobar css */
header {
    background: var(--primary-color);
}

#infobar {
    padding: 15px 0;
    font-weight: 500;
    border-bottom: 1px solid #282e35;

    .promo-code {
        display: flex;
        justify-content: center;
        font-size: 14px;
        text-align: center;
        cursor: grab;
        color: var(--color);

        .code {
            text-transform: uppercase;
        }
    }

    .site-setting {
        display: flex;
        gap: 20px;
        justify-content: end;

        .setting {
            font-weight: 400;
            font-size: 14px;
            color: var(--color);
            transition: all .6s;

            & i {
                margin-left: 5px;
            }

            &:hover {
                color: var(--secondary-color);
            }
        }
    }
}

#contact_links {
    display: flex;
    gap: 10px;
    align-items: center;

    .menu_link {
        color: var(--color);
        font-size: 14px;
        padding-right: 10px;
        border-right: 1px solid #282e35;
        transition: all .6s;

        &:hover {
            color: var(--secondary-color);
        }
    }
}

/* navbar css */
#navbar {
    padding: 20px 0;
}

#logo {
    max-width: 180px;
    height: auto;
}

.search-Bar {
    width: 95%;
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    background: var(--color);
    border-radius: 10px;

    & input {
        border-radius: 10px;
        padding: 14px;
        flex-grow: 1;
    }

    & button {
        font-size: 18px;
    }
}

#helpline {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 25px;
    color: var(--color);

    & i {
        font-size: 25px;
        transition: all 1s;
    }

    .helpline-desc {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .call-heading {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
        }

        .call-number {
            font-size: 14px;
            font-weight: 600;
        }
    }

    &:hover i {
        transform: scale(1.1);
    }
}

#user-shopping-details {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: end;

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color);
        gap: 10px;

        .icon {
            position: relative;
            transition: all .6s;

            & i {
                font-size: 26px;
            }

            .count {
                width: 18px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                top: -5px;
                right: -10px;
                color: var(--black);
                background: var(--secondary-color);
            }
        }

        .icon-desc,
        .count {
            font-size: 12px;
            font-weight: 500;
        }

        &:hover .icon {
            color: var(--secondary-color);
        }
    }
}

#navigation {
    background: var(--slate_color);
    display: flex;
    align-items: center;
}

#navigation-links {
    display: flex;
    gap: 10px;

    .fa-solid {
        margin-left: 5px;
    }

    .links,
    .shop {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        color: var(--color);
        padding: 20px 10px;
        transition: all .3s;
    }

    .links:hover {
        color: var(--secondary-color);
    }

    .shop {
        font-weight: 400;
        display: flex;
        gap: 10px;
        align-items: center;

        & img {
            background-color: var(--color);
        }

        &:hover {
            color: var(--black);
            background: var(--secondary-color);

            & path {
                fill: var(--black);
            }
        }
    }
}

/* nav css ennded */
/* #banner */
#banner {
    margin: 20px 0;

    .carousel-inner {
        .carousel-item {
            position: relative;
            height: 600px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .carousel-desc,
            .carousel-one {
                width: 40%;
                color: var(--black);
                position: absolute;
                top: 30%;
                left: 7%;

                & h1 {
                    font-size: 46px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                & p {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                & span {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;

                    .offer {
                        font-size: 46px;
                        font-weight: 600;
                    }
                }

                .promo-code {
                    color: var(--black);
                    font-size: 14px;
                    font-weight: 500;
                    padding: 10px 30px;
                    border-radius: 8px;
                    margin: 5px;
                    border: 1px dashed var(--black);
                    transition: all .3s;

                    &:hover {
                        border: 1px dashed var(--secondary-color);
                        color: var(--black);
                        background: var(--secondary-color);
                    }
                }

                .shop-btn {
                    border-radius: 8px;
                    padding: 10px 15px;
                    color: var(--color);
                    background: var(--black);
                }
            }
        }
    }
}

/* #banner ended */
.banner-section {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    & img {
        transition: all 1s;
    }

    .details {
        width: 69%;
        padding: 10px;
        position: absolute;

        & h2 {
            color: var(--primary-color);
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 5px;
        }

        & p {
            color: var(--primary-color);
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        & span {
            color: var(--primary-color);
        }

        .offer {
            color: var(--primary-color);
            font-size: 28px;
            font-weight: 600;
        }
    }

    &:hover img {
        transform: scale(1.2);
    }
}

/* categories */
#product-categorie {
    padding: 60px 0;
    background: #f5f5f5;

    .section {
        padding: 15px;
        background: var(--color);

        .section-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            & h2 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            & a {
                color: var(--black);
                font-size: 0.9rem;
                font-weight: 500;
                text-decoration: underline;
                transition: all .5s;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        .categories-grid {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);

            .sub-categories {
                & img {
                    object-fit: cover;
                    margin-bottom: 10px;
                }

                & h3 {
                    font-size: 14px;
                    font-weight: 600;
                    transition: all .4s;

                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }
}
#section{
    padding: 60px 0;
    background: #f5f5f5;
    .product-grid{
        padding: 0;
        margin-bottom: 20px;
    }
    .product-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .cart-btn{
            padding: 8px 0;
        }
        .progress-bar{
            width: 100%;
            height: 10px;
            border-radius: 20px;
            margin-top: 20px;
            position: relative;
            background: var(--grey);
            &::before{
                content: '';
                position: absolute;
                inset: 0;
                width: 30%;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background: var(--secondary-color);
            }
        }
        .units{
            font-size: 14px;
            font-weight: 500;
            color: var(--primary-color);
        }
    }
}

/* media quries */
@media (max-width: 1199.98px) {
    .banner-section {
        .details {
            width: 90%;

            & h2 {
                font-size: 1.5rem;
            }

            & p {
                margin: 0;
            }
        }
    }

}

@media (max-width: 991.98px) {
    #logo {
        margin: 0 auto;
    }

    .fa-bars {
        color: var(--color);
        font-size: 25px;
    }

    #user-shopping-details {
        gap: 10px;

        #helpline {
            display: none;
        }

        .details {
            gap: 5px;

            .icon i {
                font-size: 20px;
            }

        }
    }

    #navigation-links {
        gap: 0;

        .links {
            display: none;
        }
    }

    #banner {
        .carousel-inner {
            .carousel-item {
                .carousel-desc {
                    width: 100%;
                    top: 10%;
                }
            }
        }
    }

    .banner-section .details span {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .sec-heading{
        gap: 20px;
        justify-content: center;
        flex-direction: column;
    }
    .width-50{
        width: 100%;
    }
    .flex-direction{
        flex-direction: column;
    }
    #logo {
        width: 140px;
    }

    #navigation {
        flex-direction: column-reverse;

        .shop {
            padding: 15px 10px;
        }

        .search-Bar {
            max-width: 80%;
            margin: 10px auto 0;
        }
    }

    #navigation-links {
        justify-content: center;
    }

    .banner-section .details h2 {
        font-size: 1.2rem;
    }
    #section .product-grid{
    .flex-direction{
        flex-direction: column;
    }
}
}


@media (max-width: 575.98px) {
    #product-categorie .section .categories-grid .sub-categories {
        & img {
            width: 100%;
        }
    }

}