* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #131921;
    --secondary-color: #ffd200;
    --slate_color: #222f3e;
    --color: #fff;
    --black: #000;
    --grey: #e5e5e5;
    --text-color: #666666;
    --font: Inter;

}

body {
    font-family: "Inter", sans-serif;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    cursor: pointer;
}

a,
span {
    display: inline-block;
    text-decoration: none;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: 0;
    cursor: pointer;
    background: none;
}

input {
    border: 0;

    &:focus-visible {
        outline: none;
    }
}

section {
    padding: 30px 0;
}

.container {
    max-width: 99%;
}

.sec-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    & h2 {
        font-size: 24px;
        font-weight: 600;
        color: var(--black);
    }

    .fa-solid {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        font-size: 15px;
        color: var(--color);
        background: var(--black);
        transition: all .5s;

        &:hover {
            color: var(--black);
            background: var(--secondary-color);
        }
    }

    .timer {
        margin: 0 5px;
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        color: var(--color);
        background: var(--slate_color);
    }
}

.center {
    margin: 0 auto;
}

.display {
    display: block;
}

#product-box {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    position: fixed;
    left: 30px;
    bottom: 20px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 0 10px #0000000f;
    background: var(--color);
    transition: all;

    & img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .description {
        .heading {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .purchase-info,
        .time {
            font-size: 0.9rem;
            font-weight: 500;
            color: var(--primary-color);
        }
    }

    .close-btn {
        align-self: self-start;

        .btn {
            padding: 4px;
            color: var(--color);
            background: var(--black);
        }
    }
}

/* product-grid css */
.width-50 {
    width: 50%;
}

.flex-direction {
    display: flex;
    flex-direction: row;
}

.product-grid {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background: var(--color);
    border: 1px solid var(--grey);

    .product-display {
        padding: 10px;
        overflow: hidden;
        position: relative;

        & img {
            object-fit: cover;
        }

        .product-img {
            transition: all .8s;
        }

        .hover-img {
            opacity: 0;
            position: absolute;
            inset: 0;
            transition: all .8s;
        }

        .timer {
            display: flex;
            gap: 6px;
            position: absolute;
            top: 7%;
            left: 50%;
            transform: translateX(-50%);

            .time {
                padding: 0 5px;
                font-size: 1.1rem;
                font-weight: 600;
                text-align: center;
                color: var(--black);
                background: var(--grey);

                & span {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        .cutoff {
            position: absolute;
            top: 2%;
            left: 2%;
            z-index: 10;
            padding: 0 3px;
            font-size: 14px;
            font-weight: 400;
            border-radius: 2px;
            display: none;
            color: var(--color);
            background: var(--black);
        }

        .action-btn {
            position: absolute;
            top: 2%;
            right: 2%;
            display: none;
            z-index: 10;

            & button {
                width: 40px;
                height: 40px;
                margin: 3px 0;
                border-radius: 4px;
                color: var(--color);
                background: var(--black);
            }
        }
    }

    .product-details {
        padding: 10px;

        .demo {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
            color: var(--text-color);
        }

        & h3 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;
            color: var(--black);
            transition: all s ease-in-out;
        }

        .price {
            display: flex;
            gap: 15px;

            & del {
                font-size: 14px;
                font-weight: 400;
                color: var(--text-color);
            }

            .actual-price {
                font-size: 16px;
                font-weight: 600;
                color: var(--black);
            }
        }

        .attributes {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            .colors,
            .sizes {
                display: flex;
                gap: 10px;

                .color {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }

                .color1 {
                    background: var(--grey);
                }

                .color2 {
                    background: var(--black);
                }

                .size {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

    .cart-btn {
        width: 100%;
        padding: 2px 0;
        border-radius: 5px;
        border: 1px solid var(--black);
        transition: all .4s ease-in-out;

        &:hover {
            border: 1px solid var(--secondary-color);
            background: var(--secondary-color);
        }
    }

    .cart-btn.disabled:hover {
        border: 1px solid var(--black);
        cursor: no-drop;
        background: none;
    }

    &:hover {
        .product-img {
            transform: scale(0.9);
        }

        .hover-img {
            opacity: 1;
        }

        .cutoff,
        .action-btn {
            display: block;
        }

        .product-details h3 {
            color: var(--secondary-color);
        }
    }
}

/* product-grid css */
/* common css ended */
/* infobar css */
header {
    background: var(--primary-color);
}

#infobar {
    padding: 15px 0;
    font-weight: 500;
    border-bottom: 1px solid #282e35;



    .coupons {
        transition: all .8s;

        & li {
            margin: 0 120px;
        }
    }

    .promo-code {
        display: flex;
        justify-content: center;
        font-size: 14px;
        text-align: center;
        cursor: grab;
        color: var(--color);

        .code {
            text-transform: uppercase;
        }
    }

    .site-setting {
        display: flex;
        gap: 20px;
        justify-content: end;

        .setting {
            font-weight: 400;
            font-size: 14px;
            color: var(--color);
            transition: all .6s;

            & i {
                margin-left: 5px;
            }

            &:hover {
                color: var(--secondary-color);
            }
        }
    }
}

#contact_links {
    display: flex;
    gap: 10px;
    align-items: center;

    .menu_link {
        color: var(--color);
        font-size: 14px;
        padding-right: 10px;
        border-right: 1px solid #282e35;
        transition: all .6s;

        &:hover {
            color: var(--secondary-color);
        }
    }
}

/* navbar css */
#nav {
    background: var(--primary-color);
    transition: all .6s;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
    animation: nav .4s linear;
}

@keyframes nav {
    0% {
        transform: translateY(-50%);

    }

    100% {
        transform: translateY(0);
    }

}

#navbar {
    padding: 20px 0;
}

#logo {
    max-width: 180px;
    height: auto;
}

.search-Bar {
    width: 95%;
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    background: var(--color);
    border-radius: 10px;

    & input {
        border-radius: 10px;
        padding: 14px;
        flex-grow: 1;
    }

    & button {
        font-size: 18px;
    }
}

.helpline {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 25px;
    color: var(--color);

    & i {
        font-size: 25px;
        transition: all 1s;
    }

    .helpline-desc {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .call-heading {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
        }

        .call-number {
            font-size: 14px;
            font-weight: 600;
        }
    }

    &:hover i {
        transform: scale(1.1);
    }
}

#user-shopping-details {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: end;

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color);
        gap: 10px;

        .icon {
            position: relative;
            transition: all .6s;

            & i {
                font-size: 26px;
            }

            .count {
                width: 18px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                border-radius: 50%;
                position: absolute;
                top: -5px;
                right: -10px;
                color: var(--black);
                background: var(--secondary-color);
            }
        }

        .icon-desc,
        .count {
            font-size: 12px;
            font-weight: 500;
        }

        &:hover .icon {
            color: var(--secondary-color);
        }
    }
}

#navigation {
    background: var(--slate_color);
    display: flex;
    align-items: center;
}

#navigation-links {
    display: flex;
    gap: 10px;

    .fa-solid {
        margin-left: 5px;
    }

    .links,
    .shop {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        color: var(--color);
        padding: 20px 10px;
        transition: all .3s;
    }

    .links:hover {
        color: var(--secondary-color);
    }

    .shop {
        font-weight: 400;
        display: flex;
        gap: 10px;
        align-items: center;

        & img {
            background-color: var(--color);
        }

        &:hover {
            color: var(--black);
            background: var(--secondary-color);

            & path {
                fill: var(--black);
            }
        }
    }
}

/* nav css ennded */
/* #banner */
#banner {
    margin: 20px 0 10px;

    .banner-inner {
        overflow: hidden;
        height: 600px;
        position: relative;
        transition: all  .6s;

        .carousel {
            width: 100%;
            height: 100%;
            transition: all 1s ease-in-out;

            .carousel-item {
                width: 100%;
                height: 100%;
                display: flex;
                position: relative;

                & img {
                    height: 100%;
                    object-fit: cover;
                }

                .desc-one {
                    position: absolute;
                    top: 30%;
                    left: 7%;
                }

                .desc-two {
                    position: absolute;
                    top: 30%;
                    right: 2%;
                }

                .carousel-desc,
                .carousel-one {
                    width: 40%;
                    color: var(--black);

                    & h1 {
                        font-size: 46px;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    & p {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 20px;
                    }

                    & span {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 10px;

                        .offer {
                            font-size: 46px;
                            font-weight: 600;
                        }
                    }

                    .promo-code {
                        color: var(--black);
                        font-size: 14px;
                        font-weight: 500;
                        padding: 10px 30px;
                        border-radius: 8px;
                        margin: 5px;
                        border: 1px dashed var(--black);
                        transition: all .3s;

                        &:hover {
                            border: 1px dashed var(--secondary-color);
                            color: var(--black);
                            background: var(--secondary-color);
                        }
                    }

                    .shop-btn {
                        border-radius: 8px;
                        padding: 10px 15px;
                        color: var(--color);
                        background: var(--black);
                    }
                }
            }
        }
    }
}


/* #banner ended */
.banner-section {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    & img {
        transition: all 1s;
    }

    .details {
        width: 69%;
        padding: 10px;
        position: absolute;

        & h2 {
            color: var(--primary-color);
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 5px;
        }

        & p {
            color: var(--primary-color);
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        & span {
            color: var(--primary-color);
        }

        .offer {
            color: var(--primary-color);
            font-size: 28px;
            font-weight: 600;
        }
    }

    &:hover img {
        transform: scale(1.2);
    }
}

/* categories */
#product-categorie {
    padding: 60px 0;
    background: #f5f5f5;

    .section {
        padding: 15px;
        background: var(--color);

        .section-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            & h2 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            & a {
                color: var(--black);
                font-size: 0.9rem;
                font-weight: 500;
                text-decoration: underline;
                transition: all .5s;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        .categories-grid {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);

            .sub-categories {
                cursor: pointer;

                .categorie_img {
                    overflow: hidden;
                    margin-bottom: 10px;

                    & img {
                        object-fit: cover;
                        transition: all .6s;
                    }

                    &:hover img {
                        transform: scale(1.2);
                    }
                }

                & h3 {
                    font-size: 14px;
                    font-weight: 600;
                    transition: all .4s;
                }

                &:hover h3 {
                    color: var(--secondary-color);
                }
            }
        }
    }
}

/* categories */
#section {
    padding: 60px 0;
    background: #f5f5f5;

    .product-grid {
        padding: 0;
        margin-bottom: 20px;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .cart-btn {
            padding: 8px 0;
        }

        .progress-bar {
            width: 100%;
            height: 10px;
            border-radius: 20px;
            margin-top: 20px;
            position: relative;
            background: var(--grey);

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                width: 30%;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background: var(--secondary-color);
            }
        }

        .units {
            font-size: 14px;
            font-weight: 500;
            color: var(--primary-color);
        }
    }
}

#review_section {
    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 25px;
        background: #f5f5f5;

        .fa-solid {
            font-size: 70px;
            margin-bottom: 20px;
            color: var(--primary-color);
        }

        .fa-star {
            font-size: 13px;
            color: var(--secondary-color);
        }

        & p {
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            color: var(--text-color);
        }

        .user {
            font-size: 18px;
            font-weight: 400;
            color: var(--primary-color);
        }

        .product-grid {
            margin-top: 10px;
            border-left: 1px solid #f5f5f5;
            border-right: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
            padding: 0;
            background: #f5f5f5;

            & img {
                width: 125px;
                height: 125px;
            }
        }
    }
}

/* posts */
#post {
    .posts {
        cursor: grab;

        .date {
            color: var(--text-color);
            font-size: 14px;
            font-weight: 500;
            margin: 15px 0;

            .fa-regular {
                font-size: 14px;
                margin-right: 5px;
            }
        }

        & h4 {
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;
            transition: all .5s;
        }

        &:hover h4 {
            color: var(--secondary-color);
        }

    }
}

/* posts */
/* brand logo */
#partners {
    padding: 40px 60px;
    border: 1px solid #e5e5e5;

    .brand-icon {
        margin: 0 auto;
    }
}

/* brand logo */
#contact_block {
    padding: 50px 0;
    background: var(--slate_color);
}

.subcribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-right: 1px solid var(--text-color);
    color: var(--color);

    & h4 {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
    }

    & span {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }

    & img {
        width: 40px;
    }

    .form {
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 100%;

        & input[type=email] {
            width: 60%;
            border-radius: 10px;
            padding: 15px 20px;
        }

        & input[type=submit] {
            padding: 10px;
            border-radius: 10px;
            color: var(--primary-color);
            background: var(--secondary-color);
            transition: all .5s;

            &:hover {
                background: var(--color);
            }
        }
    }
}

#service-box {
    padding: 30px 0;

    .services {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        color: var(--primary-color);

        .service-icon {
            perspective: 1000px;
            transition: all .6s;

            & i {
                font-size: 50px;

            }
        }

        & h4 {
            font-size: 20px;
            font-weight: 600;
        }

        & span {
            color: var(--text-color);
            font-size: 14px;
            font-weight: 500;
        }

        &:hover {
            .service-icon {
                transform: rotateY(180deg);
            }
        }
    }
}

#footer-sidebar {
    padding: 30px 0;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);

    .widgets {
        .widgets-heading {
            color: var(--primary-color);
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;

            .fa-angle-down {
                display: none;
            }
        }

        & p {
            font-size: 14px;
            font-weight: 500;
            color: var(--text-color);
        }

        .helpline {
            margin-bottom: 20px;

            .fa-headset {
                font-size: 3rem;
                transform: scale(1);
                color: var(--primary-color);
            }

            .call-heading {
                color: var(--text-color);
            }

            .call-number {
                color: var(--primary-color);
            }

            &:hover {

                .fa-headset,
                .call-heading,
                .call-number {
                    color: var(--secondary-color);
                }
            }
        }

        & address {
            color: var(--text-color);
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        #addr,
        #email {
            color: var(--primary-color);
            font-size: 16px;
            font-weight: 600;

            & a {
                font-size: 14px;
                font-weight: 500;
                color: var(--text-color);
                transition: all .6s;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        .footer-sidebar-links {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .links {
                font-size: 14px;
                font-weight: 500;
                color: var(--text-color);
                transition: all .6s;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }
    }
}

.footer-bottom-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

    .links {
        font-size: 14px;
        font-weight: 400;
        color: var(--primary-color);
        text-decoration: underline;
        transition: all .6s;

        &:hover {
            color: var(--secondary-color);
            text-decoration: none;

        }
    }
}

#copyright,
a {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    transition: all .6s;

    & a:hover {
        color: var(--secondary-color);
    }
}

/* product page css */
#product-name {
    background: var(--grey);
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;

    .path a,
    h5,
    span {
        font-size: 14px;
        font-weight: 500;
        margin: 0 5px;
        color: var(--primary-color);
        transition: all .6s;
    }

    & a:hover {
        color: var(--secondary-color);
    }
}

#decrease,
#increase {
    font-size: 1rem;
}

#product-page {
    .product-img {
        overflow: hidden;
        cursor: zoom-in;

        & img {
            object-fit: cover;
        }
    }

    .img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        cursor: zoom-in;

        .others-img {
            object-fit: cover;
            overflow: hidden;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .pro-catrgorie {
            font: 500 16px 'inter';
            color: var(--text-color);
        }

        .product-name {
            font-size: 1.7rem;
            font-weight: 400;
        }

        .pricing {
            display: flex;
            gap: 15px;
            align-items: center;

            & del {
                color: var(--text-color);
                font: 500 1rem var(--font);
            }

            & span {
                color: var(--primary-color);
                font: 600 1.1rem var(--font);
            }

            .sale {
                font-size: 0.8rem;
                padding: 5px;
                color: var(--color);
                background: var(--black);
            }
        }

        & ul li {
            margin-bottom: 10px;
        }

        .fa-regular,
        .number {
            margin: 0 5px;
        }

        .icons {
            font-size: 1.1rem;
            margin: 0 10px;
            padding: 8px;
            border-radius: 5px;
            color: var(--color);
            background: var(--black);
            transition: all .6s;

            &:hover {
                color: var(--black);
                background: var(--secondary-color);
            }
        }

        .units {
            font: 500 1rem var(--font);
            text-transform: uppercase;
            color: var(--primary-color);
        }

        .stock {
            & h5 {
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 5px;
                color: var(--primary-color);
            }

            .fa-regular {
                color: lightgreen;
                filter: drop-shadow(0px 0px 2px lightgreen);
            }

            .bar {
                width: 100%;
                height: 5px;
                border-radius: 5px;
                background: var(--grey);
                position: relative;

                &::before {
                    content: ' ';
                    position: absolute;
                    inset: 0;
                    width: 38%;
                    border-radius: 5px;
                    background: var(--black);
                }
            }
        }

        .quantity {
            color: var(--primary-color);
            font: 500 0.9rem var(--font);
        }

        .product_btn {
            display: flex;
            gap: 10px;
            width: 100%;

            .quantity_btn {
                width: 20%;
                display: flex;
                gap: 20px;
                font-size: 1rem;
                justify-content: space-around;
                align-items: center;
                border-radius: 5px;
                border: 1px solid var(--grey);
            }

            .cart_btn {
                width: 100%;
                padding: 10px;
                font: 500 14px var(--font);
                border-radius: 5px;
                color: var(--primary-color);
                background: var(--secondary-color);
                transition: all .6s;

                &:hover {
                    color: var(--color);
                    background: var(--primary-color);
                }
            }
        }

        .purchase-btn {
            padding: 10px 0;
            font: 500 0.9rem var(--font);
            border-radius: 5px;
            text-transform: uppercase;
            color: var(--color);
            background: var(--primary-color);
            transition: all .6s;

            &:hover {
                color: var(--primary-color);
                background: var(--secondary-color);
            }
        }

        .new-product {
            font-weight: 500;
            font-size: 1rem;
            color: var(--primary-color);

            & a {
                margin-left: 5px;
                color: var(--text-color);
                font-size: 0.9rem;
                text-decoration: underline;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

        .share-btn {
            padding: 3px 1px;
            place-self: start;
            color: var(--color);
            background: var(--black);

            & i {
                margin-right: 5px;
            }
        }
    }
}

#product-attributes {
    border-radius: 5px;
    border: 1px solid var(--grey);

    .product-tabs {
        display: flex;
        gap: 10px;
        border-bottom: 1px solid var(--grey);

        & button {
            padding: 20px;
            font: 500 1rem var(--font);
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            color: var(--color);
            background: var(--primary-color);
            transition: all .6s;

            &:hover {
                color: var(--primary-color);
                background: var(--secondary-color);
            }
        }

        & button.active {
            color: var(--primary-color);
            background: var(--secondary-color);
        }
    }

    .tab-content {
        display: none;
        padding: 20px;

        & p,
        & span {
            font: 500 0.9rem var(--font);
            color: var(--text-color);
            margin-bottom: 20px;
        }

        & span {
            text-transform: uppercase;
        }

        .table {
            display: flex;
            justify-content: flex-start;
            border: 1px solid var(--text-color);

            .title {
                font: 500 0.9rem var(--font);
                padding: 20px;
                flex-grow: 1;

                &:nth-child(1) {
                    border-right: 1px solid var(--text-color);
                }
            }
        }
    }
}

/* product page css */
/* media quries */
@media (max-width: 1199.98px) {
    .banner-section {
        .details {
            width: 90%;

            & h2 {
                font-size: 1.5rem;
            }

            & p {
                margin: 0;
            }
        }
    }

}

@media (max-width: 991.98px) {
    #logo {
        margin: 0 auto;
    }

    .fa-bars {
        color: var(--color);
        font-size: 25px;
    }

    #user-shopping-details {
        gap: 10px;

        .helpline {
            display: none;
        }

        .details {
            gap: 5px;

            .icon i {
                font-size: 20px;
            }

        }
    }

    #navigation-links {
        gap: 0;

        .links {
            display: none;
        }
    }

    #banner {
        .carousel-inner {
            .carousel-item {
                .carousel-desc {
                    width: 100%;
                    top: 10%;
                }
            }
        }
    }

    .banner-section .details span {
        display: none;
    }

    .subcribe {
        border-right: 0;

    }

    #footer-sidebar .widgets :not(.widgets-heading) {
        display: none;
    }

    #footer-sidebar .widgets .widgets-heading .fa-angle-down {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .sec-heading {
        gap: 20px;
        justify-content: center;
        flex-direction: column;
    }

    .width-50 {
        width: 100%;
    }

    .flex-direction {
        flex-direction: column;
    }

    #logo {
        width: 140px;
    }

    #navigation {
        flex-direction: column-reverse;

        .shop {
            padding: 15px 10px;
        }

        .search-Bar {
            max-width: 80%;
            margin: 10px auto 0;
        }
    }

    #navigation-links {
        justify-content: center;
    }

    .banner-section .details h2 {
        font-size: 1.2rem;
    }

    #section .product-grid {
        .flex-direction {
            flex-direction: column;
        }
    }

    #copyright,
    a {
        text-align: center;
    }
}


@media (max-width: 575.98px) {
    #product-box {
        left: 10px;
    }

    #product-categorie .section .categories-grid .sub-categories {
        & img {
            width: 100%;
        }
    }

    #review_section .reviews,
    .product-grid {
        align-items: center;
    }

    #review_section .product-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #partners {
        padding: 40px 20px;
    }

}